<%- await include("partials/header", { bot, user, title: "Not found", is_logged, dashboardDetails, dashboardConfig, hasClientSecret }) %>
<body style="background-attachment: fixed; background-size: cover; background-position: center; background-image: url('https://i.pinimg.com/originals/d7/d8/db/d7d8dbf3811c797e5d2cc364743ae3a7.gif');">
<div class="container-sm center" style="margin-top: 25px;">
    <div class="d-grid gap-2 col-6 mx-auto" style="text-align: center;">
        <h1>Uh oh...</h1>
        <h2>The page you requested for was not found.</h2>
    </div>
</div>
<%- await include("partials/footer") %>